@import url(https://fonts.googleapis.com/css?family=Fredoka:300,regular,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  html,body {
    height: 100%;
    font-family: Fredoka;
  }
  #root {
    height: 100%;
  }
  .form-wrapper {
    background: url('./images/bg.jpg')no-repeat center;
    background-size: cover;
  }

  .pop-up {
    background: url('./images/bg.jpg')no-repeat center;
    background-size: cover;
  }

}